body {
  font-family: 'Qanelas', Arial, sans-serif;
  margin: 0;
  background-color: transparent;
}

.container {
  max-width: 960px;
  margin: 0;
  background-color: transparent;
}
.fonts{
    font-size: 24px;
    line-height: 110%;
  color: #fff;
}
