body {
  font-family: 'Qanelas', Arial, sans-serif;
  margin: 0;
  background-color: transparent;
}

.container {
  max-width: 960px;
  margin: 0;
  background-color: transparent;
}
.fonts{
    font-size: 20px;
    line-height: 130%;
  color: #fff;
}
.welcome{
  font-size: 26px;
}
